<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="top.mylady.item.mappers.BrandMapper">
    
    <resultMap id="BaseResultMap" type="top.mylady.item.pojo.Brand">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="letter" property="letter"/>
        <result column="image" property="image"/>
    </resultMap>
    
    <select id="queryAll" resultMap="BaseResultMap">
        select * from tb_brand
    </select>

</mapper>